body {
    margin-top: 70px;
}


ul li{
    margin-bottom: 10px;
}
p.virhe {
    color: red;
}

div.kirjoitus {
    border-bottom: 1px solid #000000;
    padding: 10px;
}

.kirjoitus span.glyphicon-trash {
    font-size: 12px;
}

.kirjoitus a,ul a {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}
textarea[name=kommentti] {
    width: 300px;
}

p.kommentti {
    font-weight: bold;
}